@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

@tailwind base;

@layer base {
  body {
    @apply bg-slate-950 text-slate-200 font-sans;
  }
}

@tailwind components;
@tailwind utilities;
